.education {
  margin: 0 auto;
}
.education__container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Adjust the column widths as needed */
  align-items: center;
  gap: 1rem; /* Adjust the space between columns */
  margin: 0 auto;
  width: 80%;
}
