.card {
  /* background: var(--pink); */
  background: var(--light-turquoise-color);
  overflow: hidden;
  text-align: left;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--darker-turquoise-color);
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.portofilio__subtitle {
  text-align: center;
}

.portfolio__img-wrapper {
  border-radius: 18px;
  overflow: hidden;
}

.portfolio__img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.7s ease;
}

.portfolio__items:hover .portfolio__img {
  transform: scale(1.04);
}
.link {
  color: var(--darker-turquoise-color);
  font-weight: var(--font-bold);
  font-size: var(--small-font-size);

  position: absolute; /* Position the link absolutely */
  bottom: 10px; /* Place it 20px from the bottom of the card */
  left: 30px; /* Align it with the card's padding */
  margin-top: 2rem;
}
.portfolio__category {
  color: var(--dark-turquoise-color);
  font-weight: var(--font-bold);
  margin-bottom: 5px;
  display: block;
}

.portfolio__category,
.portfolio__description {
  margin-top: 30px;
}
.portfolio__description {
  font-size: var(--smaller-font-size);
  font-weight: 600;
  color: var(--dark-turquoise-color);
  padding-bottom: 2rem;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 60px;
}

.portfolio__list-item {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  position: relative;
  transition: all 0.7s ease;
  background: transparent;
}

.portfolio__list-item::before {
  content: "";
  width: 40px;
  height: 2px;
  max-width: 80%;
  background-color: var(--dark-turquoise-color);
  position: absolute;
  bottom: -12px;
  left: 0;
  transition: all 0.4s ease;
}

.active-work {
  color: var(--dark-turquoise-color);
}
.active-work::before,
.portfolio__list-item:hover::before {
  width: 40px;
}

.portfolio__list-item:hover::before {
  width: 40px;
}

@media screen and (max-width: 1050px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-1,
  .card-2 {
    height: 689px;
  }
  .card-3 {
    grid-column: 1 / 3;
  }
}
