.skills__container {
  margin: 4rem 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills__box {
  position: relative;
}

.skill__name {
  font-size: 18px;
  font-weight: 700;
}

.outer__box {
  width: 160px;
  height: 160px;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--dark-blue-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
}

.inner__box {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#number {
  font-weight: 600;
  font-size: 30px;
}

circle {
  fill: none;
  stroke: #1977b2;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
