@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
textarea,
a {
  font-family: "Ubuntu", sans-serif;
  font-weight: var(--font-normal);
  font-size: var(--normal-font-size);
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 0 2rem;
  margin: 0 auto;
}

.section__title {
  margin-top: 4.5rem;
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  text-align: center;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 4rem;
}

/* =============LAYOUT */
.flex-center {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

/* ==========BUTTON */
.button {
  display: inline-block;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
  background: var(--light-blue-color);
  color: var(--white-color);
}

.button:hover {
  background: var(--dark-blue-color);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========colors */

:root {
  /* ======font */
  /*.5rem = 8px font-size */
  --biggest-font-size: 3.75rem;
  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --medium-font-size: 24px;
  --small-font-size: 18px;
  --smaller-font-size: 16px;
  /* ======font-weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* ======colors */
  --normal-black-color: #000000;
  --gray-color: #808080;
  --light-blue-color: #385170;
  --dark-blue-color: #142d4c;
  --light-gray-color: #ececece6;
  --light-turquoise-color: #9fd3c7;
  --dark-turquoise-color: #3baea0;
  --darker-turquoise-color: #145850;
  --white-color: #fff;
  --dark-blue: #222;
  --green: #90feb5;
  --pink: #ffb5b5;
}

@media screen and (max-width: 992px) {
  :root {
    --biggest-font-size: 3rem;
    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --medium-font-size: 22px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  }
}

@media screen and (max-width: 680px) {
  :root {
    --big-font-size: 1.8rem;
    --h1-font-size: 1.25rem;
    --h2-font-size: 0.95rem;
    --h3-font-size: 0.7rem;
    --medium-font-size: 20px;
    --medium-font-size: 0.538px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  }
}
